@import 'tailwindcss';

body {
  font-family: 'Inter', sans-serif;
}

.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

.overflow-x-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
}